.err {
  color: red;
}

a {
  text-decoration: none;
}

.categoryField {
  width: 88%;
}

.addNewCategoryBtn {
  width: 8%;
}

fa-icon ::ng-deep svg path {
  fill: #fff;
  display: inline;
  /* Stroke is used for border */
  /* stroke: red;
  stroke-width: 10; */
}
